---
import { Icon } from 'astro-iconify';

const employmentHistory = [
    {
      title: 'Freelance Web Developer',
      time: '2018 - 2021',
      description:
        'Delivered high-quality services, managed end-to-end web development projects for clients from all over the world online freelance marketplaces (mostly Fiverr).',
    },
    {
      title: 'Full Stack Developer',
      company: {
        name: 'SPWorlds',
        description: 'One of the biggest Minecraft Server Networks in Russia',
      },
      time: '2021 - 2022',
      description:
        'Led a small team developing and maintaining an interactive web application. Moved the project through breaking changes. Designed a public API and an npm library. Worked with TypeScript, SvelteKit, Tailwind.',
    },
    {
      title: 'Full Stack Developer',
      company: {
        name: 'Vmeste',
        description:
          'A startup with a mission to connect Russians living abroad',
      },
      time: '2022 - 2023',
      description:
        'Мigrated an old node.js + React codebase to a modern stack (TypeScript, Next.js, tRPC, Tailwind CSS). Rapidly delivered new features to both backend and frontend. Convinced the team to switch to Tailwind.',
    },
    {
      title: 'Senior Full Stack Developer',
      company: {
        name: 'Finally Founding',
        description: 'Dev Agency developing applications powered by AI',
      },
      time: '2023 - Present',
      description:
        'Delivered multiple unique projects. Successfully integrated AI into existing projects. In three years removed more code than added. Worked with React, Next.js, Convex, Tantack Start, Tailwind, React Native. Became an expert in building good ai-powered user experiences.',
    },
  ],
  skills = {
    'Programming Languages': [
      { name: 'TypeScript', icon: 'logos:typescript-icon' },
      { name: 'JavaScript', icon: 'logos:javascript' },
      { name: 'Rust', icon: 'logos:rust' },
    ],
    'Frontend Development': [
      { name: 'React', icon: 'logos:react' },
      { name: 'Vue', icon: 'logos:vue' },
      { name: 'Svelte/Kit', icon: 'logos:svelte-icon' },
      { name: 'Solid', icon: 'logos:solidjs-icon' },
      { name: 'HTMX', icon: 'devicon:htmx' },
      { name: 'Tailwind CSS', icon: 'logos:tailwindcss-icon' },
      { name: 'Tanstack Start / Query', icon: 'simple-icons:tanstack' },
      { name: 'Next.js', icon: 'logos:nextjs-icon' },
      { name: 'Astro', icon: 'simple-icons:astro' },
      { name: 'React Native & Expo', icon: 'logos:react' },
      { name: 'Electron', icon: 'logos:electron' },
      { name: 'Tauri', icon: 'logos:tauri' },
    ],
    'JS/TS ecosystem': [
      { name: 'Hono', icon: 'logos:hono' },
      { name: 'AI SDK', icon: 'devicon:vercel' },
      { name: 'Drizzle', icon: 'material-icon-theme:drizzle' },
      { name: 'tRPC', icon: 'simple-icons:trpc' },
      { name: 'Cloudflare Workers', icon: 'devicon:cloudflareworkers' },
      { name: 'Convex', icon: 'simple-icons:convex' },
    ],
  },
  openSourceProjects: {
    github: string;
    description: string;
  }[] = [
    {
      description: 'In browser OS simpulator',
      github: 'https://github.com/matrv/os',
    },
    {
      github: 'https://github.com/matrv/ronix',
      description: 'Linux music player and library manager',
    },
    {
      github: 'https://github.com/matrv/unopack',
      description: 'Minecraft modpack bundler',
    },
  ];
---

<main
  class="relative m-4 h-[297mm] w-[210mm] overflow-hidden rounded-md bg-white px-8 py-4 shadow-lg print:m-0 print:h-screen print:w-screen print:rounded-none print:shadow-none"
>
  <section
    class="mb-4 flex items-stretch justify-between border-b border-black p-4"
  >
    <div class="flex flex-col gap-2">
      <div class="flex flex-1 flex-col justify-center gap-2">
        <h1 class="font-heading text-4xl font-bold">Matvey Ryabchikov</h1>
        <h2 class="font-heading text-xl">Full Stack Developer</h2>
      </div>
      <div class="flex gap-4">
        <a
          href="https://matvey.dev"
          class="flex items-center gap-1"
          target="_blank"
          rel="noopener noreferrer"
        >
          <Icon pack="mdi" name="link" class="h-5 w-5" /> matvey.dev
        </a>
        <a
          href="https://github.com/matrv"
          class="flex items-center gap-1"
          target="_blank"
          rel="noopener noreferrer"
        >
          <Icon pack="mdi" name="github" class="h-5 w-5" /> github.com/matrv
        </a>
        <a href="mailto:orlition@gmail.com" class="flex items-center gap-1">
          <Icon pack="mdi" name="email" class="h-5 w-5" /> orlition@gmail.com
        </a>
      </div>
    </div>
  </section>
  <section class="space-y-2 p-4">
    <h2 class="font-heading text-2xl font-bold">Technical Skills</h2>
    {
      Object.entries(skills).map(([category, list]) => (
        <p class="flex flex-wrap gap-2">
          <span class="font-bold">{category}:</span>
          {list.map(({ name, icon }, i) => (
            <span class="flex items-center gap-1 indent-0">
              {icon && <Icon name={icon} class="h-4 w-4" />}
              {`${name}${i === list.length - 1 ? '.' : ','}`}
            </span>
          ))}
        </p>
      ))
    }
  </section>
  <section class="space-y-2 p-4">
    <h2 class="font-heading text-2xl font-bold">Work Experience</h2>
    {
      employmentHistory.map(job => (
        <div>
          <p class="my-px mt-4 flex justify-between font-bold">
            <span class="w-fit rounded-md bg-gray-300 px-2">{job.title}</span>
            <span class="tabular-nums">{job.time}</span>
          </p>
          {job.company && (
            <p class="flex gap-1">
              <b>Company:</b> {job.company.name}
              <span class="text-neutral-700">// {job.company.description}</span>
            </p>
          )}
          <p class="italic">{job.description}</p>
        </div>
      ))
    }
  </section>
  <section class="space-y-2 p-4">
    <h2 class="font-heading text-2xl font-bold">Open-Source Projects</h2>
    <p>
      I'm a frequent open-source contributor. List of projects I've contributed
      to includes <a
        class="underline"
        href="https://github.com/t3-oss/create-t3-app"
        target="_blank"
        rel="noopener noreferrer">create-t3-app</a
      >, <a
        class="underline"
        href="https://github.com/pop-os/shell"
        target="_blank"
        rel="noopener noreferrer">pop shell gnome extension</a
      >, <a
        class="underline"
        href="https://getaurora.dev/en/contributors/"
        target="_blank"
        rel="noopener noreferrer">Aurora Linux</a
      >, <a
        class="underline"
        href="https://github.com/vercel/next.js"
        target="_blank"
        rel="noopener noreferrer">Next.js</a
      >, <a
        class="underline"
        href="https://github.com/anomalyco/opencode"
        target="_blank"
        rel="noopener noreferrer">OpenCode</a
      >. I'm a member in the <a
        class="underline"
        href="https://e18e.dev"
        target="_blank"
        rel="noopener noreferrer">e18e</a
      > (Ecosystem Performance) community, I helped write <a
        class="underline"
        href="https://github.com/es-tooling/module-replacements-codemods"
        target="_blank"
        rel="noopener noreferrer">codemods</a
      > to cleanup the npm ecosystem.
    </p>
    <br />
    <p>
      You can also check out my solo projects I made for fun: <ul
        class="list-inside list-disc"
      >
        {
          openSourceProjects.map(({ description, github }, i) => (
            <li>
              <a
                class="underline"
                href={github}
                target="_blank"
                rel="noopener noreferrer"
              >
                {description}
              </a>
            </li>
          ))
        }
      </ul>
    </p>
  </section>
  <div
    class="pointer-events-none absolute -right-28 bottom-56 font-mono text-[25rem] font-bold opacity-5"
    aria-hidden
  >
    {'</>'}
  </div>
</main>
